---
- name: Install nginx
  yum:
    name: nginx
    state: present
    update_cache: yes

- name: Ensure nginx config directory exists
  file:
    path: /etc/nginx
    state: directory
    mode: '0755'

- name: Deploy nginx frontend config
  template:
    src: nginx_frontend.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0644'
    validate: 'nginx -t -c %s'
  notify: Restart nginx

- name: Enable and start nginx
  service:
    name: nginx
    state: started
    enabled: true
